/*
Colour Palette:
#006D77 <- navbar background
#83C5BE <- navbar text
#EDF6F9 <- page background
#FFDDD2 <- card background
#E29578 <- card text
*/

/* add background colour */
body {
    background-color: #EDF6F9;
}

/* add text colour to p tags */
p {
    color: #006D77;
}

/* add text colour to labels */
label {
    color: #006D77;
}

/* add text colour to headings */
h1 {
    color: #006D77;
}
/* add styling to buttons */
.buttonStyle {
    background-color: #FFDDD2;
    color: #E29578;
}

.btn-primary:hover {
    background-color: #E29578;
    color:#FFDDD2;
}

/* navBar styling */
.navbarStyle {
    background-color: #006D77;
}

.navbarText {
    color: #83C5BE;
}

.activeLink {
    color: white;
}

/* background image */
#bgImage {
    background-image: url("Background image design file.jpg");
    width: 100%;
}

/* card styling */
.cardStyle {
    background-color: #83C5BE;
    color:#006D77 ;
    border-radius: 40px;
    margin-top: 15px;
}


/* moving element on homepage down and adding shadows */ 
#homepagebox {
    position:relative;
    margin-top: 150px;
    margin-bottom:-150px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.12);
}

#containerbox {
    border-radius: 40px;
    padding:50px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
}

.nav-item a:hover {
    color: white;
    box-shadow: 5px 5px 10px 5px #005961;
}

.nav-item a {
    font-size: 20pt;
    border-radius: 25px;
    margin-left: 15px;
    padding: 10px;
}

.navbar-brand{
    border-radius: 15px;
    padding: 5px;
}

.navbar-brand img{
    height: 50px;
    width: 100%;
}

.navbar-brand:hover {
    box-shadow: 5px 5px 10px 5px #005961;
}

.mainimg{
    opacity: 90%;
    border-radius: 40px;
    width: 100%;
    margin-top: 5px;
}

.pagebody {
    background: rgb(0,109,119);
    background: linear-gradient(36deg, rgba(0,109,119,1) 0%, rgba(131,197,190,1) 100%);
}

.moreinfobox {
    margin-top:20px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    border-radius: 40px;
    padding: 15px 50px 50px 50px;
    background-color:#EDF6F9 ;
}

.duckbox {
    margin-top:20px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    border-radius: 40px;
    padding: 15px 10px 15px 10px;
    background-color:#EDF6F9 ;
}

footer {
    background-color: #EDF6F9;
    opacity: 50%;
    margin-top:20px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    border-radius: 40px;
    padding: 20px 50px 10px 50px;
    margin: 0px 80px;
}

.carouselContainer {
    border-radius: 40px;
    padding: 0px;
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    background-color:#EDF6F9 ;
}

.aboutImage {
    border-radius: 40px;
}

.aboutContainer {
    background-color:#EDF6F9 ;
}

.imagenotavailable {
text-align: center;
opacity: 25%;
font-size: 15px;
padding-bottom: -15px;
}

.duckimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 40px;
}

.homepagetext {
    opacity: 40%;
    padding-bottom: 12pt;
}