:root {
    --background: #202020;
    --bodytext: #b0b0b0;
    --container: #232525;
    --accent: #E29578;
  }

/* add background colour */
body {
    background-color: var(--background);
}

/* add text colour to p tags */
p {
    color: var(--bodytext);
}
h1 {
    color: var(--bodytext);
}

#inputbox {
    opacity: 30%;
}

/* add text colour to labels */
label {
    color: var(--bodytext);
}


/* add styling to buttons */
.buttonStyle {
    background-color: var(--container);
    border-color: var(--accent);
    border-style: solid;
    border-width: 1px;
    color: var(--accent);
    margin-top: 10px;
}

.btn-primary:hover {
    background-color:var(--accent);
    color: var(--container);
}

/* navBar styling */
.navbarStyle {
    background-color: var(--container);
}

.navbarText {
    color: var(--bodytext);
}

.activeLink {
    color: white;
}

/* background image */
#bgImage {
    background-image: url("BgDark.png");
    opacity: 100%;
}

/* card styling */
.cardStyle {
    background-color:var(--container);
    border-radius: 40px;
    border-color: var(--background);
    border-style: solid;
    border-width: 2px;
    margin-top: 15px;
}

.cardtitle {
    color:var(--bodytext);
    font-size:20px;
}


/* moving element on homepage down and adding shadows */ 
#homepagebox {
    position:relative;
    margin-top: 150px;
    margin-bottom:-150px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.12);
    background-color:var(--container);
}

#containerbox {
    border-radius: 40px;
    padding:50px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    background-color: var(--container);
}

.nav-item a:hover {
    color: white;
    box-shadow: 5px 5px 10px 5px #202020;
}

.nav-item a {
    font-size: 20pt;
    border-radius: 25px;
    margin-left: 15px;
    padding: 10px;
}

.navbar-brand{
    border-radius: 15px;
    padding: 5px;
}

.navbar-brand img{
    height: 50px;
    width: 100%;
}

.mainimg{
    opacity: 90%;
    border-radius: 40px;
    width: 100%;
    margin-top: 5px;
}

.pagebody {
    background: var(--background);
}

.moreinfobox {
    margin-top:20px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    border-radius: 40px;
    padding: 15px 50px 50px 50px;
    background-color:var(--container) ;
}

.duckbox {
    margin-top:20px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    border-radius: 40px;
    padding: 15px 10px 15px 10px;
    background-color:var(--container) ;
}

footer {
    background-color:var(--container) ;
    opacity: 50%;
    margin-top:20px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    border-radius: 40px;
    padding: 20px 50px 10px 50px;
    margin: 0px 80px;
}

.carouselContainer {
    border-radius: 40px;
    padding: 0px;
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    background-color:var(--background) ;
}

.aboutImage {
    border-radius: 40px;
}

.aboutContainer {
    background-color:#EDF6F9 ;
}

.imagenotavailable {
text-align: center;
opacity: 25%;
font-size: 15px;
padding-bottom: -15px;
}

.duckimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 40px;
}

.homepagetext {
    opacity: 40%;
    padding-bottom: 12pt;
}

.infomaychange {
    opacity: 25%;
    font-size: 15px;
    padding-bottom: -15px;
}

  /* Favourites Buttons */
  .heartbutton{

    border: none;

    color: white;

    padding: 15px 32px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    margin: 4px 2px;

    cursor: pointer;

  }

  .heart_container{

    background-color: hwb(0 100% 0%);

    border-radius: 50px;

    box-shadow: 0 5px 10px rgb(211, 211, 211);

    display: inline-block;

    width:34px;

    height:34px;

    text-align:center;

    line-height:44px;

}

#heart{

    font-size: 25px;

    color: darkgray;

}

#heart:hover{

    color:red;

    cursor: pointer;

}


.faqHeading{
    margin-bottom: 15px;
}

.faqText{
    margin-bottom: 55px;
}

.tosHeading{
    margin-top: 20px;
    margin-bottom: 20px;
}


