/*
Colour Palette:
    #006D77 <- navbar background
#83C5BE <- navbar text
    #EDF6F9 <- page background
    #FFDDD2 <- card background
    #E29578 <- card text
*/

:root {
    --background: #EDF6F9;
    --accent: #006D77;
    --accentlight: #83C5BE;
    --mainpink: #FFDDD2;
    --secondpink: #E29578;
  }

/* add background colour */
body {
    background-color: var(--background);
}

/* add text colour to p tags */
p {
    color: var(--accent);
}

/* add text colour to labels */
label {
    color: var(--accent);
}

/* add text colour to headings */
h1 {
    color: var(--accent);
}
/* add styling to buttons */
.buttonStyle {
    background-color: var(--mainpink);
    color: var(--secondpink);
    margin-top: 10px;
}

.btn-primary:hover {
    background-color:var(--secondpink);
    color:var(--mainpink);
}

/* navBar styling */
.navbarStyle {
    background-color: var(--accent);
}

.navbarText {
    color: var(--accentlight);
}

.activeLink {
    color: white;
}

/* background image */
#bgImage {
    background-image: url("BgLight.png");
    width: 100%;
}

/* card styling */
.cardStyle {
    background-color: var(--accentlight);
    color:(--navbar) ;
    border-radius: 40px;
    margin-top: 15px;
}
.cardtitle {
    color:var(--accent);
    font-size:20px;
}

/* moving element on homepage down and adding shadows */ 
#homepagebox {
    position:relative;
    background-color:  var(--background);
    opacity: 100%;
    margin-top: 150px;
    margin-bottom:-150px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.12);
}

#containerbox {
    border-radius: 40px;
    padding:50px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
}

.nav-item a:hover {
    color: white;
    box-shadow: 5px 5px 10px 5px #005961;
}

.nav-item a {
    font-size: 20pt;
    border-radius: 25px;
    margin-left: 15px;
    padding: 10px;
}

.navbar-brand{
    border-radius: 15px;
    padding: 5px;
}

.navbar-brand img{
    height: 50px;
    width: 100%;
}

.mainimg{
    opacity: 90%;
    border-radius: 40px;
    width: 100%;
    margin-top: 5px;
}

.pagebody {
    background: rgb(0,109,119);
    background: linear-gradient(36deg, rgba(0,109,119,1) 0%, rgba(131,197,190,1) 100%);
}

.moreinfobox {
    margin-top:20px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    border-radius: 40px;
    padding: 15px 50px 50px 50px;
    background-color:var(--background);
}

.duckbox {
    margin-top:20px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    border-radius: 40px;
    padding: 15px 10px 15px 10px;
    background-color:var(--background);
}

footer {
    background-color:var(--background);
    opacity: 50%;
    margin-top:20px;
    border-radius: 40px;
    /* x offset, y offset, blur radius, colour*/
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    border-radius: 40px;
    padding: 20px 50px 10px 50px;
    margin: 0px 80px;
}

.carouselContainer {
    border-radius: 40px;
    padding: 0px;
    box-shadow: 4px 4px 25px hsl(0deg 0% 0% / 0.07);
    background-color:var(--background) ;
}

.aboutImage {
    border-radius: 40px;
}

.aboutContainer {
    background-color:var(--background) ;
}

.imagenotavailable {
text-align: center;
opacity: 25%;
font-size: 15px;
padding-bottom: -15px;
}

.duckimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 40px;
}

.homepagetext {
    opacity: 40%;
    padding-bottom: 12pt;
}

  /* Favourites Buttons */
  .heartbutton{

    border: none;

    color: white;

    padding: 15px 32px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    margin: 4px 2px;

    cursor: pointer;

  }

  .heart_container{

    background-color: hwb(0 100% 0%);

    border-radius: 50px;

    box-shadow: 0 5px 10px rgb(211, 211, 211);

    display: inline-block;

    width:34px;

    height:34px;

    text-align:center;

    line-height:44px;

}

#heart{

    font-size: 25px;

    color: darkgray;

}

#heart:hover{

    color:red;

    cursor: pointer;

}

.faqHeading{
    margin-bottom: 15px;
}

.faqText{
    margin-bottom: 55px;
}

.tosHeading{
    margin-top: 20px;
    margin-bottom: 20px;

}

